services:
  redis:
    image: redis:7-alpine
    container_name: store-backend-redis
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 3s
      retries: 5
    restart: unless-stopped
    networks:
      - store-network

volumes:
  redis-data:
    driver: local

networks:
  store-network:
    driver: bridge
